{% if collection_list != blank %}
  <div class="sub-collections wide-container">
    {% for _collection in collection_list %}
      <div class="sub-collection-item">
        <a href="{{ _collection.url }}">
          {% if collection.image %}
            {{ collection.image | image_tag: alt: collection.title | image_url: width: 250 }}
          {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0770/4087/7816/files/backpacks.webp?v=1769427744" alt="" width="250">
          {% endif %}
          <p class="collection-name">{{ _collection.title }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
